/*
rc结尾的文件一般都是运行时自动加载的文件，配置。
这里是对babel配置
Babel的配置文件是.babelrc，存放在项目的根目录下。使用Babel的第一步，就是配置这个文件。
1.presets字段设定转码规则，官方提供以下的规则集，你可以根据需要安装。

# ES2015转码规则
$ npm install --save-dev babel-preset-es2015

# react转码规则
$ npm install --save-dev babel-preset-react

# ES7不同阶段语法提案的转码规则（共有4个阶段），选装一个
$ npm install --save-dev babel-preset-stage-0
$ npm install --save-dev babel-preset-stage-1
$ npm install --save-dev babel-preset-stage-2
$ npm install --save-dev babel-preset-stage-3
2.
*/
{
  "presets": [ "es2015", "stage-0", "react"],
  "plugins": [["import", { "libraryName": "antd", "style": true }]],
  "env": {
    "build": {
      "optional": ["optimisation", "minification"]//优化缩小
    }
  }
}
